SERVER_ADDRESS=localhost:8080
BASE_URL=http://localhost:8080
FILE_STORAGE_PATH=storage.json
POSTGRES_USER=gophkeeper
POSTGRES_PASSWORD=gophkeeper
POSTGRES_DB=gophkeeper
POSTGRES_PORT=5432
DATABASE_DSN=postgres://gophkeeper:gophkeeper@gophkeeper-db:5432/gophkeeper?sslmode=disable
JWT_KEY=supermegasecret